@mixin typography(
  $size,
  $weight,
  $spacing: normal,
  $line-height: normal
) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $line-height;
}

@mixin skaterCard($width) {
  width: $width;
  overflow: hidden;
  position: relative;
}

@mixin skaterCardImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}