@use "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width:none;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: variables.$surface;
  overflow-x: hidden;
}

main {
  flex: 1;
}

ul {
  list-style: none;
}

input, textarea {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: variables.$text-muted;
  color: variables.$surface;
  margin-bottom: 1rem;
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  &:focus {
    outline: none;
    border: 1px solid variables.$primary;
  }
}

